.app {
  margin: 0 auto;
  text-align: center;
  line-height: 2em;
}

main {
  text-align: left;
  margin-left: 20%;
  padding: 20px 0;
}

.line {
  display: flex;
}

.mark {
  display: inline-block;
  width: 20%;
  min-width: 20%;
}

.search {
  height: 60px;
  width: 60%;
  padding: 0;
  border-radius: 0;
  background-color: transparent;
  color: #fcfaf2;
  border: none;
  outline: none;
  border-bottom: 3px solid #333333;
  font-size: 1.5em;
  text-align: center;
}

@media (min-width: 576px) {
  .app {
    width: 60%;
  }

  main {
    margin-left: 30%;
  }
}
