body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color: #fcfaf2; 
  font-size: calc(10px + 2vmin);
}

.align-right {
  text-align: right;
  margin-top: 10px;
  margin-right: 20px;
}

.link {
  text-decoration: none;
  color: #bdc0ba;
  font-size: 0.8em;
}

.link:visited {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
.link:active {
  text-decoration: underline;
}
